/*!
 * Name : Ads Site Design
 * Version: 1.0.0
 * Author: Sajeeb Debnath
 * Author URL: fb.me/sajeebdebnath.cse
 * Github: https://github.com/sajeebdebnath
 * Sajeeb Debnath 

 * Table of Contents:
    A. Home
        01. Header Section
        11. Footer Section
*/

/* ------------------------- Home Start --------------------- */
/* ------------------------- Header Section CSS Start --------------------- */
.header-top-wrapper .logo-and-languages {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.header-top-wrapper {
  width: 100%;
  padding: 15px 0;
}

.header-area {
  background: var(--bgColor4);
  position: absolute;
  width: 100%;
  z-index: 999;
}
.logo-and-languages .logo img {
  width: 100px;
  height: 40px;
  margin-left: -10px;
}

.header-top-wrapper .logo-and-languages .language-selection {
  color: #000000f5;
  font-family: "PT Sans Pro Light";
  font-weight: 600;
}

.header-top-wrapper .logo-and-languages .language-selection span {
  margin: 0 5px;
}

.header-top-wrapper .logo-and-languages .language-selection span:nth-child(1) {
  color: #18b75d;
}
.menu-area .main-menu ul {
  display: flex;
  gap: 30px;
}

.menu-area .main-menu ul li a {
  font-size: 16px;
  transition: 0.3s;
  text-transform: uppercase;
  color: #644f9ccf;
  font-family: var(--fontFamily3);
  font-weight: 600;
}

.menu-area .main-menu ul li a:hover {
  color: var(--bgColor);
}

.header-top-wrapper .menu-area {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.login-signup-menu .auth-link.active {
  background: var(--bgColor);
  border-radius: 15px;
  padding: 5px 20px;
  color: white;
  box-shadow: 0px 2px 2px #808080a6;
}

.login-signup-menu {
  background: white;
  padding: 10px 15px;
  border-radius: 25px;
  display: flex;
  gap: 20px;
  box-shadow: 0px 2px 2px #808080a6;
  text-transform: uppercase;
  align-items: center;
}

.login-signup-menu .auth-link {
  padding-left: 10px;
}
/* ------------------------- Header Section CSS End --------------------- */

/* ------------------------- Hero Section CSS STart --------------------- */
.hero-area {
  width: 100%;
  height: 100vh;
  background: var(--bgColor4);
}
.hero-content-bg {
  width: 100%;
  background-color: white;
  height: 300px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.hero-aea-text .title {
  font-size: 30px;
  font-weight: 600;
  color: var(--bgColor2);
  margin-bottom: 15px;
}
.hero-aea-text .sub-text {
  font-size: 20px;
}
/* ------------------------- Hero Section CSS End --------------------- */

/* ------------------------- Service Section CSS Start --------------------- */

.service-tem {
  margin-top: 40px;
  text-align: center;
  padding: 15px;
}

.service-tem .service-icon {
  width: 150px;
  height: 150px;
  margin: auto;
  background-color: var(--bgColor4);
  border-radius: 50%;
  font-size: 60px;
  line-height: 150px;
  text-align: center;
  color: #1d4999;
  box-shadow: 1px 0px 7px 0px #80808096;
}

.service-text-btn p {
  font-size: 20px;
  margin: 20px 0;
}

.service-text-btn .btn.service {
  border: none;
  background: var(--bgColor2);
  color: white;
  border-radius: 25px;
  padding: 9px 35px;
  width: 60%;
}
/* ------------------------- Service Section CSS End --------------------- */

/* ------------------------- Ads Format Section CSS Start --------------------- */
.ads-format-area {
  background: var(--bgColor4);
}

.ads-format-area-wrapper .ads-format-type ul {
  display: flex;
  gap: 30px;
}
.ads-format-area-wrapper .ads-format-type ul li {
  width: 20%;
}
.ads-format-area-wrapper .ads-format-type .ads-format {
  box-shadow: rgb(128 128 128 / 65%) 1px 2px 4px;
  padding: 9px 20px;
  font-size: 16px;
  border-radius: 25px;
  width: 100%;
}

.ads-format-area-wrapper {
  margin-top: 25px;
}

.ads-format-area-wrapper .ads-format-type .ads-format.active {
  background: #cc6433c7;
  color: var(--textColor2);
}

.ads-format-area-wrapper .ads-format-type {
  margin-bottom: 25px;
}

.ads-format-details .single-ads-format-item {
  display: none;
  justify-content: space-between;
  gap: 100px;
  align-items: center;
}
.ads-format-details .single-ads-format-item.active {
  display: flex;
}

.ads-format-details .single-ads-format-item .ads-format-bg {
  width: 550px;
  background-color: var(--bgColor2);
  height: 270px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.ads-format-details {
  margin-top: 60px;
}

.ads-format-details .ads-format-text .title {
  font-size: 24px;
  font-weight: 600;
  color: #dd591b;
}

.ads-format-details .ads-format-text p {
  font-size: 18px;
  margin: 15px 0;
}

.ads-format-text {
  width: 60%;
}

.ads-format-text .ads-btn {
  color: var(--bgColor2);
  font-weight: 600;
  font-size: 16px;
}
/* ------------------------- Ads Format Section CSS End --------------------- */

/* ------------------------- Impression Section CSS Start --------------------- */
.impression-area {
  background: var(--bgColor2);
}

.single-impression-item {
  text-align: center;
  height: 250px;
  background: white;
  width: 250px;
  margin: auto;
  border-radius: 50%;
  position: relative;
  margin-top: 25px;
  box-shadow: 1px 0px 7px 0px #020202c2;
}

.impression-area .section-title h2 {
  color: white;
}

.single-impression-item .impression-text {
  height: 100%;
  position: absolute;
  top: 50%;
  margin-top: -45px;
  text-align: center;
  width: 100%;
}

.single-impression-item .impression-text .title {
  font-weight: 600;
  margin-bottom: 15px;
  color: var(--textColor2);
}

.single-impression-item .impression-text p {
  font-size: 20px;
  color: var(--textColor2);
}
.single-impression-item.impression {
  background: transparent;
  box-shadow: none;
  border: 2px dashed white;
}

.single-impression-item.status .title,
.single-impression-item.status p {
  color: var(--bgColor2);
}

.single-impression-item.publisher {
  background: #ff6f00ab;
}
/* ------------------------- Impression Section CSS End --------------------- */

/* ------------------------- Testimonial Section CSS Start --------------------- */
.single-testimonial-item-wrapper {
  border: 1px dotted var(--bgColor);
  border-radius: 10px;
  padding: 10px;
  display: flex;
  gap: 40px;
  align-items: center;
}

.single-testimonial-item {
  width: 100%;
  background: white;
  padding: 10px;
  border-radius: 20px;
  box-shadow: 4px 2px 13px 3px #cdc8c8bf;
  margin: 10px 0;
  margin-bottom: 35px;
}

.single-testimonial-item-wrapper .testimonial-bg {
  height: 180px;
  background: var(--bgColor4);
  width: 220px;
}

.testimonial-items-wrapper {
  padding-top: 35px;
}

.testimonial-text .title {
  font-size: 20px;
  color: var(--bgColor2);
  margin-bottom: 15px;
}

.testimonial-text .sub-text {
  font-size: 20px;
  color: var(--bgColor2);
}
.testimonial-area {
  background: var(--bgColor4);
  margin-bottom: 20px;
  padding-bottom: 90px;
}
.testimonial-items-wrapper.owl-carousel .owl-nav {
  position: absolute;
  bottom: 0;
  left: 50%;
  display: flex;
  gap: 20px;
  margin-left: -50px;
  margin-bottom: -35px;
  text-align: center;
  color: var(--bgColor2);
}

.testimonial-items-wrapper.owl-carousel .owl-nav button {
  width: 40px;
  height: 40px;
  background: white;
  border-radius: 50%;
  font-size: 20px;
  text-align: center;
  line-height: 40px;
  transition: 0.3s;
}

.testimonial-items-wrapper.owl-carousel .owl-nav button:hover {
  background: var(--bgColor2);
  color: white;
}

.testimonial-items-wrapper.owl-carousel .owl-dots {
  position: absolute;
  top: 0;
  left: 50%;
  display: flex;
  gap: 5px;
  margin-left: -40px;
}

.testimonial-items-wrapper.owl-carousel .owl-dots .owl-dot {
  width: 15px;
  height: 5px;
  background: #b8c8e6;
  border-radius: 5px;
}

.testimonial-items-wrapper.owl-carousel .owl-dots .owl-dot.active {
  width: 20px;
  background: var(--bgColor2);
}
/* ------------------------- Testimonial Section CSS End --------------------- */

/* ------------------------- Footer Section CSS Start --------------------- */
.footer-area {
  background: var(--textColor2);
  padding: 40px 0;
}

.footer-social img {
  width: 35px;
}

.footer-social {
  display: flex;
  gap: 10px;
}

.footer-menu-area .footer-title {
  font-size: 16px;
  color: var(--bgColor2);
  font-weight: 600;
  margin-bottom: 20px;
}

.footer-menu-area .footer-menu ul {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.footer-menu-area .footer-menu ul li a {
  font-weight: 600;
  color: var(--textColor);
  font-size: 16px;
}

.footer-menu .logo {
  margin-left: -8px;
}
.footer-menu-area .footer-menu.support ul li a {
  font-weight: 400;
}
/* ------------------------- Footer Section CSS End --------------------- */
